node_modules
dist
.env
.npmrc
tsconfig.tsbuildinfo
.DS_Store
pnpm-lock.yaml
package-lock.yaml

# Python specific
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Binance Trader specific config if not using environment variables
binance_trader/config.py